package ui

templ errorPlaceHolder() {
	@errorPlaceHolderWithID("errors")
}

templ errorPlaceHolderWithID(id string) {
	<div class="mt-4">
		<div id={ id } class="errors text-red-700"></div>
	</div>
}
